@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "gerhaus";
    src: url("~~/assets/fonts/gerhaus.ttf");
}
@font-face {
    font-family: "now";
    src: url("~~/assets/fonts/now.otf");
}

.graborder{
    background:
    linear-gradient(calc(var(--turn) * 1turn), #ffffff, #fdfdfd, #fdfdfd) padding-box,
    linear-gradient(calc(var(--turn) * 1turn), #535EFC, #0EC8EE, #0EC8EE) border-box;
    border: 2px solid transparent;
  }