@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "gerhaus";
    src: url("~~/assets/fonts/gerhaus.ttf");
}
@font-face {
    font-family: "now";
    src: url("~~/assets/fonts/now.otf");
}